[2019-12-17 21:54] mzhibo opened #9 "installation error"
Hi,
When I tried to install the package, it gave some error. Any idea what could be causing this and how to fix it?
I am installing as you instructed in a new conda enviroment with python 3.6.9.
log:
... (omitted the non-error lines)
Collecting ptyprocess>=0.5
  Using cached https://files.pythonhosted.org/packages/d1/29/605c2cc68a9992d18dada28206eeada56ea4bd07a239669da41674648b6f/ptyprocess-0.6.0-

[2019-12-17 23:09] njbernstein commented on #9
Hi @mzhibo

Thanks for trying Solo out! I really appreciate it. I've fixed the install issue I believe. Please let me know if the issue is not fixed.
commit to the fix https://github.com/calico/solo/commit/cc206ce5ffe2c4b8403243190ae39baa0a06e6ff

If you have any other issues let me know.

[2019-12-17 23:09] #9 closed

[2019-12-28 19:35] cartal opened #12 "QUESTION: Running `solo` on multiple batches?"
Hi,

I have been playing with `solo` and I have been having good results. I have a question regarding how best to run `solo` on my data:

I have data coming from three different experiments, say `Cells-CD45+`, `Cells-CD31+` and `Cells-CD19+`,  and I was wondering if you recommend to run `solo` on each of the individual data sources or if it is better to run it on a merged `AnnData` with all the co

[2019-12-28 19:47] davek44 commented on #12
Hi Carlos,

If the batches are separate so that there is no chance of a doublet that
combines a cell from one batch and a cell from another, then you should run
Solo on each batch separately. However, if you think that scVI might be
able to learn better embeddings using all of the data, you could fit the
unsupervised model on all of your data and then pass the pre-trained scVI
model to separate ba

[2019-12-29 17:03] cartal commented on #12
Thanks very much for the advice!

Regards

[2019-12-29 17:03] #12 closed

[2020-01-05 14:00] cartal opened #13 "Add scores and labels directly to `anndata` object"
Hi,

Is there a way to add the scores directly to the `anndata` object after running `solo`? Right now the `is_doublet.npy` contains less number of cells as the original object used.

[2020-01-05 19:52] njbernstein commented on #13
There is not a way currently to do that I could add it.

The fact the number of cells is not matching is not good. I'm in transit today and will take a look first thing tomorrow morning and will get back to you then. Sorry for the inconvenience.

I may ask you tomorrow to share at least a piece of you anndata object but I will update tomorrow

[2020-01-06 11:48] cartal commented on #13
Hi, thanks for the quick reply!

It would be great to have this since it makes so much easier to report where the doublets are. The tool is already really cool because uses an `anndata` as input, so adding it directly would make it ideal :D

I will be happy to get in touch with a sample of the data.

[2020-01-06 18:41] njbernstein commented on #13
@cartal

Just starting on this. Could you copy and paste the first few lines from the solo output?

like so:
[code]

[2020-01-06 19:41] yding9 opened #14 "solo installation issue"
Hi,

Thank you so much for creating this fantastic tool! I have previously successfully installed solo and got the pipeline running nicely. But later, I probably installed some other packages and messed up the conda environment, and I got error messages when I tried to run solo. So I decided to remove the conda environment and reinstall solo. I believe I followed everything I did before:  conda cr

[2020-01-06 19:58] cartal commented on #13
@njbernstein ,

It doesn't look like. Then again, my dataset is rather large.

[code]

[2020-01-06 20:41] njbernstein commented on #14
@yding9 I get the same issue. It seems like an issue with the UMAP package and numba. see here: https://github.com/lmcinnes/umap/issues/225

I'm working on a fix now to remove umap as a dependency.

cc: @davek44

[2020-01-06 20:45] njbernstein commented on #13
@cartal are all 285000 cells from the same experiment, e.g. a single 10X lane (i know it can't be a single 10X lane)?

Solo is meant to be run on data from a single experiment because doublets can only arise withing an experiment. Just double-checking as that is a lot of cells for a single scRNA-seq experiment.

[2020-01-06 22:00] cartal commented on #13
@njbernstein This is indeed a concatenated object with multiple samples and indeed it makes so much sense to run it on a _per-sample_ basis.

Thanks for the clarification, I have a couple of questions though:

- Is this the reason why the index doesn't add up in the end?
- Is it possible just to append the `scores` and the `is_doublet` information to the original `anndata`?
- Because 10X gives you

[2020-01-06 22:15] njbernstein commented on #13
@cartal
- Is this the reason why the index doesn't add up in the end?
No it doesn't and I'm not sure why that is happening. Could you try solo on a smaller subset of your data and see if the same issues occur though? I just reran solo on some test data and didn't have the issue you are describing but if you can recreate the issue on a smaller dataset then I can debug the problem with your smaller

[2020-01-06 22:20] yding9 commented on #14
@njbernstein Thank you so much for your quick response and suggestion.
Please let me know when the fix is done. And thank you again for this fantastic tool!

[2020-01-06 22:20] cartal commented on #13
@njbernstein great! Many thanks for the reply.

I will try it again on a smaller subset. The reason why I was asking was that I didn't want to get multiple `,
.h5ad` for all the samples. But I guess I can do this. In the meantime, I will be looking forward to the addition of the new option. Could you please let me know when this happens?

Thanks so much for the effort put into developing this grea

[2020-01-06 23:05] njbernstein commented on #14
@yding9  this should be fixed in the latest commit into master. Please re-open if it is not fixed

[2020-01-06 23:05] #14 closed

[2020-01-06 23:08] njbernstein commented on #13
I have added directly adding the doublet scores to the anndata object and writing out a new anndata object called `soloed.h5ad` in the solo output directory. You will need to provide the `-a` flag to have solo perform this action. Please let me know if this doesn't work for you.
I'm going to close this one as I've added the functionality asked for in the title. But please open another issue if you

[2020-01-06 23:08] #13 closed

[2020-01-08 14:30] cartal opened #16 "ValueError: Length of values does not match length of index"
Hi again @njbernstein and @davek44 :)

After the fix from issue #13 `solo` is working really great in some of my samples. Thanks very much!

However, for some of them, `solo` runs without any problem but just before it's going to report the scores/doublets it fails with the following error:

[code]

Now, I understand that the index somehow doesn't match the original object, but there's nothing to

[2020-01-08 16:17] njbernstein commented on #16
@cartal  could you copy and paste or upload the full output of the run? What size is the data? Maybe you can share it with me so I can troubleshoot the issue?

[2020-01-08 16:29] cartal commented on #16
Happy to, can you give me an e-mail where I can send the details?

Thanks!

[2020-01-08 17:47] njbernstein commented on #16
nicholas@calicolabs.com is my email address

[2020-01-08 19:08] njbernstein commented on #16
@cartal ^

[2020-01-09 13:53] cartal commented on #16
@njbernstein done!

[2020-01-09 17:15] njbernstein commented on #16
@cartal The issue is that you have two cells with 0 reads in your input data:

[code]

[code]

Remove those cells and solo should run fine. It did when I ran solo. I'll add an issue to resolve this.

[2020-01-13 14:34] grst opened #17 "Upload on conda/PyPI"
Hi,

I had a look at your preprint and it really looks promising!

It would be cool if you could upload the package on bioconda and/or PyPI.
This makes it easier to define it as a dependency in a workflow (e.g. through a conda [yml](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#creating-an-environment-from-an-environment-yml-file) file) compared to instal

[2020-01-13 16:01] njbernstein commented on #17
Yes. That's a really reasonable request. I'll work on adding this to pypi this week.

[2020-01-14 17:43] cartal commented on #16
This fixed my issue. Thanks!!!

[2020-01-14 17:43] #16 closed

[2020-01-15 17:53] njbernstein commented on #17
@grst  it should be installable via pypi `pip install solo-sc`. Let me know if you have any issues

[2020-01-15 17:53] #17 closed

[2020-01-15 17:54] grst commented on #17
Awesome!

On Wed, 15 Jan 2020, 18:53 njbernstein, <notifications@github.com> wrote:

[2020-01-16 05:06] xnnba opened #19 "Running problem"
Hi,

I followed the instruction to run but had follwoing error:

(solo) nxi@server1-X10DAx:/media/nxi/nxi/doublet/real_data$ solo solo.jason, cline-ch.h5ad
[2020-01-15 20:58:03,502] INFO - scvi._settings | Added StreamHandler with custom formatter to 'scvi' logger.
/home/nxi/anaconda3/envs/solo/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath

[2020-01-19 23:27] njbernstein commented on #19
Hi @xnnba ,

Sorry I meant to respond earlier. ` solo solo.jason, cline-ch.h5ad` I'm guessing you don't have a comma in your filename. So try ` solo solo.jason cline-ch.h5ad` and let me know how that runs.

[2020-02-05 07:48] michiste opened #20 "Optimal Preprocessing"
Hi,

I have question regarding the optimal way for preprocessing counts for solo. In particular, should the input be raw counts or do you recommend some preporcessing? What preprocessing steps would that be?

Thanks a lot for your help!

[2020-02-05 15:06] njbernstein commented on #20
The scVI model underneath solo requires the raw counts so no preprocessing should be done on the count level. It would be fine to remove cells with few. UMIs and cells with now UMIs should definitely be removed

[2020-02-05 15:34] michiste commented on #20
Thanks a lot for your fast reply!

[2020-02-05 15:35] #20 closed

[2020-02-12 00:14] njbernstein commented on #19
@xnnba  any updates here? otherwise, I'd like to close this out.

[2020-02-13 02:07] hisplan opened #21 "3K PBMC & AnnData Output"
I have two questions:

## 1

I tried solo on 3K PBMCs from a Healthy Donor (available at 10x), and I got about 313 doublets out of 2,828 (just counted the number of `True` in `is_doublet.npy`). I thought it's a bit too much, but I'm just curious whether you have tried it before, and if so, does this number sound right to you?

## 2

I supplied `-a` to get an AnnData output, but when I tried to loa

[2020-02-13 05:28] njbernstein commented on #21
Hi there

Could you send me the link you used to download the pbmc data?

Does the same error occur when you use anndata.read from the anndata package?

I'm on vacation till Tuesday so I will be slow responding sorry.
@hisplan

[2020-02-13 12:41] hisplan commented on #21
Okay, apparently there was a small mistake on my side while dealing with multiple datasets, so I updated the numbers, but if you could confirm the numbers, that would be great!

- `scanpy.read_h5ad` didn't work for my own dataset, but worked fine for PBMC 3K.
- `anndata.read_h5ad` worked fine for my own dataset.

Another problem with my dataset was there was a slight discrepancy between the length

[2020-02-13 16:45] njbernstein commented on #21
@hisplan I havent seen that issue before.
@hisplan

I reran solo on this dataset. When I load it up I get the following number of cells by genes:
[code]
I'm not sure why you have `2,828` cells and I have 2700 cells.

When I run solo I get `192` doublets, and the `is_doublets` vector if of length 2700. So I'm not seeing the same issue as you where the `is_doublets.npy` is not the right length.
The

[2020-02-13 18:01] hisplan commented on #21
Thanks for your quick reply. I was able to resolve the issue after upgrading both `scanpy` and `anndata` packages.

[code]

Will close this ticket.

[2020-02-13 18:01] #21 closed

[2020-02-25 20:01] xnnba commented on #19
Thank you for your response. The issue was solved.

[2020-03-03 21:02] #19 closed

[2020-03-05 19:53] hy395 opened #22 "a feedback on compatiblility with scvi_0.6.0"
I tried to install solo with scvi_0.6.0, and it mostly is compatible except for line 124 in solo.py. scvi_0.6.0 expect toarray() (numpy.ndarray) instead of todense() (numpy.matrix). This might or might not need a fix since currently solo installation is just dependent on scvi_0.4.0.

[2020-03-13 22:16] njbernstein commented on #22
@hy395 thanks for pointing this out. I'll release a new version soon. Until then this branch works https://github.com/calico/solo/tree/final_before_paper

[2020-03-19 20:41] njbernstein commented on #22
Done

[2020-03-19 20:41] #22 closed

[2020-05-20 16:58] njbernstein opened #25 "Have solo consume 10x directory directly"
Have solo consume 10x directory directly. scVI now handles this for us so it should not be brittle.

Rough sketch:
use scVI 10xDataset function
provide some light feedback to users about whether they should further QC the data

[2020-05-20 17:00] njbernstein commented on #25
cc: @davek44

[2020-05-20 18:58] davek44 commented on #25
The challenge that I see is that we'd be taking on the responsibility of filtering cells and genes. I think there's a good argument to letting the analyst make those choices before letting scVI touch the data.

[2020-05-20 22:06] njbernstein opened #26 "Fix requirements"
Make requirements more general

[2020-05-20 22:28] njbernstein opened #27 "Add testing for performance"
We should automatically test performance for every PR to ensure things havent gone awry.

Implementation rough draft:
Pull 2c kang dataset
Run Solo current version and new version 10 times each. Mann whitney U test to check performance

[2020-05-20 22:32] njbernstein opened #28 "Add batching to Solo"

[2020-05-21 03:50] njbernstein opened #30 "Implement a proper logger"
Implement a proper logger. Print statements aren't great

[2020-05-22 16:49] #26 closed

[2020-05-22 16:52] #25 closed

[2020-06-02 15:23] guensen0 opened #32 "sklearn.metrics error"
Hi,

during creation of a new conda environment and install of solo by:
conda create -n solo python=3.7 && conda activate solo && pip install solo-sc
I got the following error:
ERROR: umap-learn 0.4.3 has requirement numba!=0.47,>=0.46, but you'll have numba 0.45.0 which is incompatible.
ERROR: scvi 0.6.0 has requirement llvmlite==0.30.0, but you'll have llvmlite 0.32.1 which is incompatible.

I m

[2020-06-02 16:04] njbernstein commented on #32
@guensen0  ahh I should have this fixed within the hour.

Sorry about this.

[2020-06-02 16:29] njbernstein commented on #32
@guensen0 This has been fixed in release 0.5.

Remove your current solo and enviroment and rerun:
`conda create -n solo python=3.7 && conda activate solo && pip install solo-sc`
or run:
`conda create -n solo2 python=3.7 && conda activate solo2 && pip install solo-sc`

I'm going to close this issue. If the problem persists feel free to re-open this issue

[2020-06-02 16:29] #32 closed

[2020-06-03 14:01] jenzopr opened #33 "Error in inline usage"
Hi!

I'm trying to use Solo inline on an Anndata object with 4 hashtag features. My code looks roughly like this:

[code]

Initially, the error from solo was `NotImplementedError: adding a nonzero scalar to a sparse matrix is not supported` - I assume because `hdata.X` is a sparse matrix. Then I tried to do

[code]

prior to the hashsolo call, but now I'm getting a `IndexError: boolean index did n

[2020-06-03 14:06] jenzopr commented on #33
Funnily, saving the `hdata` object with `force_dense = True` (`as_dense = True` in scanpy >=1.5.1) and reloading the object seems to do the trick.

Nevertheless, can hashsolo be easily written to take sparse matrices as well?

[2020-06-03 16:31] njbernstein commented on #33
Hi Jens,

Let me take a look. It will probably just convert the sparse matrix under the hood into a dense matrix because I don't think cell hashing matrices should cause memory issues. Its interesting the
[code]
didnt work.

[2020-06-05 08:37] drneavin opened #34 "json variables"
Hello,

I am interested in using solo for doublet detection and I was wondering if you could provide more details about the variables in the json file that are used for the model and how one might change the values based on their dataset?

Thanks!
-Drew

[2020-06-05 16:58] njbernstein commented on #34
Hi there,

The variables in the JSON file should be applicable to most datasets. The only improvements I've seen for some datasets are setting `n_latent` to 64.
[code]

See supp figure 12 for exploration of some of these parameters: https://www.biorxiv.org/content/10.1101/841981v1.full.pdf

If you feel Solo is not performing well for some reason let me know and I'll help troubleshoot, but it shoul

[2020-06-06 06:45] jenzopr commented on #33
Any update? Maybe a workaround? :-)

[2020-06-06 15:10] #33 closed

[2020-06-06 15:13] njbernstein commented on #33
@jenzopr  I merged a fix just now let me know if it works.

Some of the indexing I do in `hashsolo` doesn't work with a dense matrix so the code needs to be:
[code]

[2020-06-06 19:27] njbernstein commented on #33
If you need this fix released to pypi let me know otherwise you can install the fix from cloning the master branch and pip installing from there

[2020-06-06 19:30] jenzopr commented on #33
Thats great! Thanks a lot for your support 🎉

[2020-06-07 23:34] drneavin opened #36 "Error"
Hello,

I have tried using solo on a few different datasets but have run into the same error with all datasets I have tried:
[code]
The model gets through some of the epochs (usually ~15-30).

solo was installed with pip (python 3.6.8) and is being run out of a singularity bucket. Please let me know if you have any recommendations on how I might fix this or would like additional information.

Than

[2020-06-08 16:14] njbernstein commented on #36
Hi there,

Could you tell me what sort of file type you are feeding into solo? Is it a loom, h5ad, or 10x cell ranger output?

It seems like the `singlet_scvi_data.X` data type isn't a dense `np.array`, so if you want a quick fix you could do this yourself by ensuring the input expression matrix is a dense `np.array` but Solo should coerce this for you.

Let me know the file type you are using and

[2020-06-08 21:20] njbernstein commented on #34
I'm gonna close this issue.

[2020-06-08 21:20] #34 closed

[2020-06-09 07:53] drneavin commented on #36
Thanks Nick,

I am using the 10x cells ranger outputs (V2 and V3). I haven't QC filtered the data and I suspect that may be contributing to the error? Let me know if you can replicate the error

I'll implement a QC step and retry to see if that solves the issue. Let me know if you identify and resolve the issue on your end in the meantime.

Cheers,
Drew

[2020-06-11 06:12] drneavin commented on #36
Any way that this could be updated for the pip install method? I am installing this in a singularity bucket and am receiving the following error when I try to install from github:
[code]

However, installation works well with `pip install solo-sc`.

Thanks,
Drew

[2020-06-14 11:19] JuanruMaryGuo opened #39 "Any pre-trained model"
Hi, I am wondering if there's any pre-trained model to start with. And I also would like to know if there's any open dataset in h5ad format so that I can run directly with your code.

Thank you in advance.

[2020-06-15 16:03] njbernstein commented on #39
Hi there,

I don't have any pre-trained models because `solo` needs to be run from scratch for each experiment. `solo` generates in silico training data for each experiment.

This [link](https://www.google.com/url?q=https://storage.googleapis.com/calico-website-mca-storage/kang_2017_stim_pbmc.h5ad&sa=D&source=hangouts&ust=1592323110378000&usg=AFQjCNHEDiUFvEYVK0qw0PQoSiQyg2UPXg) will download the `

[2020-06-15 16:47] JuanruMaryGuo commented on #39
Thank you!

[2020-06-15 20:15] njbernstein commented on #39
I'm going to close this issue for now. @JuanruMaryGuo  please don't hesitate to reach out with any further issues

[2020-06-15 20:15] #39 closed

[2020-06-21 14:51] xinyiwangjuno opened #40 "h5ad dataset"
Hi, I would like to compare the results of different doublet detection models using the dataset 'Kang et al. Control PBMCs (2c)' mentioned in your paper. Since there's no h5ad file format of this dataset available online, would you please offer the dataset 'Kang et al. Control PBMCs (2c)' of h5ad file format?

Thank you so much

[2020-06-22 16:26] njbernstein commented on #40
Hi @xinyiwangjuno

[Uploading 2c.h5ad.gz…](Here's a gzipped version of the 2c h5ad file)

[2020-06-22 16:30] #40 closed

[2020-06-22 21:03] njbernstein opened #41 "Create notebook showing how to use and the benefits of Solo"
cc: @vjojic

[2020-06-29 20:03] reykajayasinghe opened #42 "MemoryError"
Thanks for providing this resource.

I am running into the following error -
MemoryError: Unable to allocate 1.66 TiB for an array with shape (6794880, 33538) and data type int64.

I wonder how much space you recommend having available to run a sample using the raw 10X data set.

Or do you recommend filtering our 10X objects and then using the filtered matrix to run solo?

Thanks for your help

[2020-06-29 20:13] njbernstein commented on #42
Hi @reykajayasinghe

If this is a 10x run you need to filter your cells first as ~ 6 million is not realistic for a basic 10x run. I'd recommend using the prefiltered matrix 10x provides or do the filtering yourself so that only cells with sufficient UMIs are fed into `solo`.

Let me know if you have any more questions.

Best,
Nick

[2020-07-02 08:29] dylanmr opened #43 "scipy error"
Hi,

I am attempting to implement the hash demultiplexing pipeline described in the vignette. I have generated h5ad files using the KITE pipeline from kallisto and am able to cleanly demultiplex using the seurat pipeline.

When I try to run solo I keep getting this error:

![image](https://user-images.githubusercontent.com/12213489/86335522-e4c7ed00-bc4e-11ea-8eb5-ae8fcc881b66.png)

Do you have an

[2020-07-02 14:42] njbernstein commented on #43
Hi @dylanmr yes I do.

The master version on github has a fix for this, but I haven't made it pip installable yet. I'm guessing you installed from pip.

I'll put pushing a new release to pypi on my to-do list for today.

[2020-07-02 16:55] njbernstein commented on #42
Please reopen if you are still having issues

[2020-07-02 16:55] #42 closed

[2020-07-02 17:00] njbernstein commented on #43
The fix has been released to pypi let me know if your issue is not fixed

[2020-07-02 17:00] #43 closed

[2020-07-13 15:11] JonasMir opened #44 "Preprocessing Error - IndexError: tuple index out of range"
Dear solo team,

First of all, thanks for your great tool! I have the following little problem: If I run solo (version 0.6) on CellRanger output, everything works fine. If I run it on one of the other optional formats, e.g. .loom or .h5ad, then I always get the same error quickly after start: "IndexError: tuple index out of range", involving the scvi/dataset package (version 0.6.5). It seems to ha

[2020-07-13 16:09] njbernstein commented on #44
Hi @JonasMir I can definitely help!

If you should share the full stack trace that would be very helpful.

Also, it would be helpful if you could send the `h5ad` file you are using to my email. nicholas at calicolabs.com

With these two things, I should definitely be able to help you. If you can't send the full data set only sending a fraction of it that creates the same error works as well.

[2020-07-14 05:13] njbernstein commented on #44
@JonasMir  following up here. if you can pass along that info it would be very helpful

[2020-07-14 16:02] JonasMir commented on #44
Hi Nicholas,

I did as you said. Please let me know, if you either have any problems accessing the data or need something else.
Thanks for your support!

[2020-07-14 17:34] njbernstein commented on #44
Okay I believe the issue is that you have a column in your `obs` object named `_X`. If you rename that things play nice. This seems to be a bug on the scVI side of things. I'll file an issue with them.

Let me know if that doesn't fix your problem but it did for me.

[2020-07-14 17:45] njbernstein commented on #44
issue is here: https://github.com/YosefLab/scVI/issues/704

I'm gonna close this, but please open this back up if this doesnt fix your issue

[2020-07-14 17:47] #44 closed

[2020-07-15 10:31] JonasMir commented on #44
Perfect, that solved it for me. Thanks!

[2020-07-19 08:46] cnk113 commented on #28
I was wondering on the status of this feature? I've been using a little wrapper script that can do multiple batches with solo using the Ray library to distribute over multiple GPUs, it can also partition up how much memory to use. My script is a pretty clunky since there is some manual input and is mainly a wrapper. It would be ideal if Solo can just take a metadata column and run with it.

[2020-07-20 14:43] njbernstein commented on #28
Hi @cnk113  I haven't started implementing it yet. That being said if you already have a script to distribute with multiple GPUs I would stick with that because I don't plan on having code in Solo to spread the computation across multiple GPUs. The various compute environments out there are just too diverse and trying to engineer code within Solo to do this would not be worth the effort.

This iss

[2020-07-28 03:13] drneavin opened #45 "Output Recommendation"
Hi solo developers,

I am interested in using solo but noticed that all the outputs are in numpy formats. I think it would be helpful to have bash-readable file outputs so that the user is not required to use python to see the results following running the software. Any chance this could be implemented for solo?

[2020-07-28 20:05] njbernstein commented on #45
Hi @drneavin

This could be implemented. I assume a tab-delimited format of the following files would be sufficient:
[code]
correct?

[2020-07-28 20:05] njbernstein commented on #45
I would have each remain its own file

[2020-07-28 23:18] drneavin commented on #45
Yes, tab delimited formats for those files would be great!

[2020-07-29 02:10] thugib opened #46 "Can not read from remote repository"
When I run the command:
`git clone git@github.com:calico/solo.git && cd solo && conda create -n solo python=3.6 && conda activate solo && pip install -e `

 I get this message:

[code]

Or if I run the command with sudo :

[code]

[2020-07-29 21:26] njbernstein commented on #46
Hi there,

Can you `pip install solo-sc` instead?

[2020-07-30 02:03] thugib commented on #46
Yes, thank you, the pip install worked.

[2020-07-30 02:47] njbernstein commented on #46
cool closing this

[2020-07-30 17:12] #46 closed

[2020-07-30 18:07] njbernstein commented on #45
files are added as output to master. Not gonna do another `pypi` release until there are more changes

[2020-07-30 18:07] #45 closed

[2020-08-07 01:16] drneavin opened #48 "ValueError: The parameter mu has invalid values"
Hello solo developers,

I am receiving a strange error from solo for one of my pools. I have run the same code for 72 other pools without issue. However, for this pool, I have tried to run 8 times and receive the same error: `ValueError: The parameter mu has invalid values`. This is running from a 10x directory but the data should be pretty good quality (ie no empty dropets, similar number of UMIs

[2020-08-07 15:05] njbernstein commented on #48
That is strange. And look to be an issue with the scVI code we have built off. https://github.com/YosefLab/scVI/pull/663

I don't think they've fixed it yet nor does it look like they are planning to.
 Things to try:
1. You could try reducing the number of latent variables in your config file.
2. Do some more filtering, particularly cells with lots of UMIs?
Lastly, if you are willing to share the

[2020-08-10 17:10] njbernstein commented on #48
@drneavin  checking in here. Are you still having issues?

[2020-08-15 06:07] adamgayoso commented on #48
This is likely due to the library size parameter being too large, which could result from some high outliers in the count matrix. I don't think we need to throw this ValueError here as pytorch has safeguards against this (I think) and we will look into possibly releasing a patch for this.

That said, like you have suggested, filtering some outliers with very high library size could fix it.

[2020-08-15 07:13] drneavin commented on #48
Hi @njbernstein and @adamgayoso. I did try reducing the number of latent variables in the config file in increments down to 12 but couldn't get it to complete. I haven't checked filtering by library size yet - on my to-do list but haven't made time for it yet. I'll let you know once I filter and rerun to let you know if the run completes. Thanks for the recommendations and checking in again.

[2020-08-26 10:37] lenaschneehas opened #49 "Underestimation of doublets with data set that contains a lot of proliferative cells"
Dear Solo team,

your tool is great and easy to use, thank you!
Still, I have a question: I am running several 10x samples in order to identify doublets and I observed that if my data set consists mainly of cells that are is G2M or S Phase (cell cycle classification according to Seurat), the number of detected doublets is extremely underestimated. Eg.: In a data set with 10^4 Cells where more than

[2020-08-26 19:37] njbernstein commented on #49
Hi @lenaschneehas Great to know you are using Solo.

Continuous cell states is an interesting issue, which we have not fully figured out a solution to when trying to identify doublets computationally.

One option is you can force solo to call the expected number of doublets using the `-e EXPECTED_NUMBER_OF_DOUBLETS` parameter, which can be based on the expected number of doublets based on the numb

[2020-08-31 13:14] lenaschneehas commented on #49
@njbernstein thank you for your fast response. Mhm..Setting the expected number of doublets is sth I really don't want to do. In the meant time I run the solo analysis for a data set where I have the known doublets information due to cell hashing and this increased the number of doublets found up to 80 % compared to the number of expected (in this data set only 50 % or more are classified as G1).

[2020-08-31 13:14] lenaschneehas commented on #49
@njbernstein thank you for your fast response. Mhm..Setting the expected number of doublets is sth I really don't want to do. In the meant time I run the solo analysis for a data set where I have the known doublets information due to cell hashing and this increased the number of doublets found up to 80 % compared to the number of expected (in this data set only 50 % or more are classified as G1).

[2020-08-31 13:15] lenaschneehas commented on #49
@njbernstein thank you for your fast response. Mhm..Setting the expected number of doublets is sth I really don't want to do. In the meant time I run the solo analysis for a data set where I have the known doublets information due to cell hashing and this increased the number of doublets found up to 80 % compared to the number of expected (in this data set only 50 % or more are classified as G1).

[2020-09-03 09:54] dweemx commented on #48
Also got the same error, reducing the number of latent variable to `32` did solve this issue

What's the impact on reducing this number ? Performance ? Precision ?
Sorry for this probably naive question (I'm quite new into this field)

[2020-09-08 03:50] njbernstein commented on #49
We don't have anything planned unfortunately bu I'll be sure to circle back if anything pertinent comes up. I'm gonna close this issue.

Please let me know if you have any more issues or have new info regarding this topic!

Best
Nick

[2020-09-08 03:50] #49 closed

[2020-09-08 03:53] njbernstein commented on #48
@dweemx sorry for the slow response. I was on vacation. There's a limited effect of Solo's performance with fewer latent variables.

See supplementary figure 14 in our paper: https://www.cell.com/cms/10.1016/j.cels.2020.05.010/attachment/626b1206-08e0-4185-9d7c-92f4546b6b12/mmc1.pdf

[2020-09-18 06:21] adamgayoso opened #50 "scvi is deprecated"
Hi all,

I wanted to let you all know that we are deprecating the scvi software package. We recently pushed a final update (0.6.8) with a deprecation warning upon import. scvi is now implemented in the scvi-tools package (same repo). Based on viewing your code, it seems like the easiest thing to do at the moment is pin the scvi requirement to 0.6.7. We will be changing some of the classes you use

[2020-09-18 18:13] adamgayoso commented on #50
Probably in a month or two. Now that I look at your code again, if I'm understanding correctly, it's probably easiest to

1. Use scvi-tools for the scVI part, extract the mean of the latent space, mean of the latent log library size
2. Train your own classifier (hand-built using pytorch, can probably copy paste some of our code).

It might even be faster this way as what is done now is that each c

[2020-09-18 18:25] njbernstein commented on #50
I actually sample the latent space during training and don't take the mean
[code]
When we don't sample the latent space the performance solo suffers quite a bit, otherwise, I would be happy to do what you suggested and just take the mean of the latent space.

I'll probably wait to see what `0.7` looks like and decide then

[2020-09-18 18:28] adamgayoso commented on #50
It looks like that option just concatenates the mean of the latent log library size, as the `[0]` grabs the mean of the variational distribution.

https://github.com/YosefLab/scvi-tools/blob/d9cb4806780502da0ed412f395f8fd5b98f4e917/scvi/core/trainers/annotation.py#L106-L108

https://github.com/YosefLab/scvi-tools/blob/d9cb4806780502da0ed412f395f8fd5b98f4e917/scvi/core/modules/vae.py#L298-L299

[2020-09-18 18:49] njbernstein commented on #50
Huh you are right. Not sure why I thought we were sampling from the posterior. My mistake.

Thanks!

[2020-09-19 21:03] adamgayoso commented on #50
Well, the variables do have pretty poor names, which we are going to fix! That said, my opinion is that building your own classifier on z and l and using scvi-tools for the scVI part would be the simplest transition.

Though, we could also consider implementing solo's core functionality (train vae, make doublets, classifier on z+l of augmented data) in scvi-tools? I think we could be open to the i

[2020-09-23 19:41] njbernstein commented on #50
@adamgayoso  I'm interested in doing that. Discussing with my collaborators tomorrow. I'll let you know where things are after that.

Nick

[2020-09-24 16:58] njbernstein commented on #50
@adamgayoso We are interested in implementing Solo's core functionality into scVI but an offline discussion seems best to move forward. I'll email you shortly

[2020-09-24 16:58] #50 closed

[2020-11-16 05:23] drneavin opened #51 "Dataset10x Failing to Load"
Hello,

I'm not sure the best location to put this issue - it arises when using the solo package but I'm fairly certain that the issue lies with the scvi package. I am getting the following output with the error:
[code]
I can replicate this error when in python after importing scvi and trying to load the dataset with Dataset10X but can't identify why I am receiving this error.

The data is a datas

[2020-11-16 05:57] njbernstein commented on #51
Hi @drneavin ,

I'm not sure what the issue is exactly, and you are right it seems to be a `scvi` issue. However, they are currently updating their code, so if its a true bug on their end thing might get tough. However they might have some suggestions about things to try.

Another option is you can try reading your file using `scanpy` into python and then write an `anndata` file. And then running

[2020-11-16 06:08] drneavin commented on #51
Thanks for the recommendation @njbernstein!

I just finished checking on scanpy loading and that seems to be failing as well. However, some of my other codes that use just scipy to read the matrix in work fine so I think it probably has to do with some assumptions about the file structures that are built into these functions expected for 10x data.

I'll let you know if I find a good solution.

[2020-11-16 10:58] drneavin commented on #51
Solved per your recommendation to create an AnnData object saved as standard h5ad and used that as input for solo. Seems to be working now. Thanks for the help!

[2020-11-16 10:58] #51 closed

[2020-11-16 14:34] massonix commented on #9
Hi @njbernstein,

Thanks for developing this useful package. I ran into a similar error when installing solo in our cluster (no problems in my own machine):

[code]
Should I install it from the commit above?

Thanks,

R

[2020-11-16 14:58] njbernstein commented on #9
It seems like your PyTorch installation is not correct. You need to install `GLIBC_2.14`.

Here's a link to solving what seems to be a common problem:
https://gist.github.com/michaelchughes/85287f1c6f6440c060c3d86b4e7d764b

[2020-11-16 14:59] njbernstein commented on #9
@massonix  ^^

[2020-11-17 10:00] massonix commented on #9
Thanks a lot, Nick! I will check with our cluster administrator.

[2020-12-07 10:53] grst opened #52 "limited reproducibility"
Hi,

I applied solo to an immune cell dataset and it appears to work quite well.
However, I get (slightly) different results every time I run solo, which is a bit annoying as this also changes the downstream clustering step.

Is there any way to make solo's result reproducible (such as setting a seed)? I would like to be able to share my entire analysis as a reproducible pipeline in the end.

Best

[2020-12-07 17:45] njbernstein commented on #52
Hi @grst

I can add the ability to set a seed.

Best,
Nick

[2020-12-07 18:05] grst commented on #52
Hi Nick,

that would be awesome!

[2020-12-14 17:48] drlaurenwasson opened #53 "Running solo on a sample as a batch job"
Hello,
I'm sure this is a python question versus a solo question, but I'm going to ask it anyway because I cant find the answer online.
I'm on a SLURM computing cluster and was able to install everything

conda create -n solo python=3.7 && conda activate solo && pip install solo-sc
conda init bash
exec bash
conda activate solo

Once solo is loaded I was able to run solo (this example has the names

[2020-12-14 17:57] njbernstein commented on #53
Looks like you are trying to run the command-line tool of `solo` inside a python script. You should run `solo`  like so in your slurm script:
[code]
where  $input1  is your  model_json_file   and $input2  is your data_file and $input3 is your output dir

[2020-12-14 18:03] drlaurenwasson commented on #53
Thank you! This seems to be working.

[2020-12-14 18:08] drlaurenwasson commented on #53
I have another question actually, relating to the depreciation
When I run solo I get this warning
(solo) lkw10@compute-e-16-233:lauren$ solo -h

/home/lkw10/.conda/envs/solo/lib/python3.7/site-packages/scvi/__init__.py:31: DeprecationWarning: scvi is deprecated, please uninstall scvi via `pip uninstall scvi` and install the new scvi-tools package at github.com/YosefLab/scvi-tools
  warnings.warn(d

[2020-12-14 18:13] njbernstein commented on #53
@drlaurenwasson  we are planning on updating Solo to the latest version of scVI, but we have not begun yet. So for now we use an older version of `scVI` which works quite well for `solo`

[2020-12-14 18:13] #53 closed

[2020-12-16 21:10] JeffreyCifello commented on #48
Hello,

I am receiving the same error raised in this issue but with a slightly different output leading up to the error, most notably starting with ELBO: nan. This error only occurs when the -k option is omitted.

I have tried reducing the latent variable, number of layers, and eliminating cells with high UMI counts (>10000) as recommended. I tested this on 5,000 cells with <10,000 UMIs below. The

[2020-12-16 22:27] njbernstein commented on #48
@JeffreyCifello Could try loading the data as an h5ad?

How have you filtered the data? Can you make sure no genes or cells have 0 counts?

[2020-12-17 18:16] JeffreyCifello commented on #48
@njbernstein Making sure that no genes or cells have 0 counts appears to have fixed my issue. Loading via 10x works after removing these genes/cells. I used Seurat to keep cells with at least 100 genes and less than 60% mitochondrial genes, and saved these back into a 10x directory using write10xCounts. Thank you for the advice.

[2020-12-22 18:35] njbernstein commented on #48
Cool. closing this down

[2020-12-22 18:35] #48 closed

[2020-12-23 03:24] njbernstein commented on #52
@grst Really sorry about the slow turn around on this. You should be able to install the changes doing the following:
[code]

[2020-12-23 03:24] #52 closed

[2020-12-23 08:59] grst commented on #52
thanks a lot for implementing this! I'll give it a try after the holidays.

On Wed, 23 Dec 2020 at 04:24, njbernstein <notifications@github.com> wrote:

[2021-01-13 15:57] marzamKI opened #56 "Problem with loom file"
Hey,

I'm trying to use your tool on a loom file and it's giving me an error I dont quite know how to solve..
Mind having a look at it and tell me how you think I could solve?

Kind regards,
Margherita

[code]

[2021-01-13 16:47] njbernstein commented on #56
I haven't seen the error before. I think your indexes must be cast to integers. I can try to help troubleshoot if you are willing to send me your data or a subset of it.

[2021-01-13 20:02] marzamKI commented on #56
Hey,

Thank you for your prompt reply!
I'm using the loom files from Linnarsson lab (http://loom.linnarssonlab.org/) - in particular the L6_Immature_Neurons, tho I suspect I'd get the same error with the others as well..

[2021-02-03 13:56] scSeqLiubice commented on #56
Hi @marzamKI, @njbernstein,

i am running into the exact same problems when using solo on prefiltered loomfiles from the kallisto|bustools python implementation. @marzamKI, did you find a solution to your problem?

This is the Loomfile structure, if it helps by any chance:
[code]

[2021-02-03 16:47] njbernstein commented on #56
So sorry about the slow response. Working on this today.

[2021-02-03 17:20] njbernstein commented on #56
@marzamKI @scSeqLiubice  I'm unable to recreate this error with the L6_Immature_Neurons loom file from http://loom.linnarssonlab.org/.

Do you get the same results if you run the following:
[code]

[2021-02-03 17:22] njbernstein commented on #56
Which version of `solo-sc` are you both using? If not using the current version in master could you try using that version?
Here is how to install it:
[code]

[2021-02-04 09:18] scSeqLiubice commented on #56
Hi @njbernstein,

really appreciate your response!
I'm using `solo-sc : 0.6`, but i did not use conda for installing and instead directly `used pip install -e .`

I tried using scvi, and i am getting the same error while removing non expressing cells. So maybe this issue is more scvi related?
[code]
Package incompatibilities? I'm using `scvi : 0.6.7`
Thanks for your work on this!

[2021-02-04 17:14] njbernstein commented on #56
@scSeqLiubice  `0.6.7`  should work. I'm gonna change the default to that.

Can you preprocess your dataset to remove empty cells?

If not can you can send me your data so I can troubleshoot more easily?

@marzamKI I believe changing the scVI version to `0.6.7` should solve your issue.

[2021-02-15 20:38] brianpenghe opened #59 "2c.h5ad doesn't contain gene names"
I was trying to use the h5ad data files collected by the paper. However, that 2c.h5ad doesn't contain gene names - nor does it contain cell type labels.
Is there any chance you can provide complete h5ad data files you used for doublet detection demonstration?

Thanks!

[2021-02-16 17:24] njbernstein commented on #59
@brianpenghe You don't need cell types or gene names to detect doublets, so I just converted the matrix file to an h5ad for my purposes. If you need that information I'd use the files from GEO. https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE96583

[2021-02-16 17:24] #59 closed

[2021-02-18 22:16] njbernstein opened #60 "moving to scvi-tools"

[2021-02-25 14:12] carloelle commented on #56
Hi,

I had the same issue but I work it around using older versions of numpy and h5py. I'm using python v3.7.
@marzamKI try to uninstall numpy and h5py and then do:
[code]
In my case I don't have the `TypeError: Indexing arrays must have integer` anymore, solo finish preprocessing of the data and start training of the neural network.
It seems to be an issue of h5py/numpy, see [here](https://github

[2021-04-23 18:17] ymahmoud commented on #56
Hi! I had the same issue and this worked for me. Thanks!

[2021-04-23 18:27] ymahmoud opened #62 "Difference between is_doublet and preds"
Hi!
I'm trying your tool to identify doublets in my scRNASeq data but I'm not sure why I get slightly different results in is_doublet.csv and preds.csv files. I'm not using the -e parameter (expected_number_of_doublets), so shouldn't they be the same? What's the difference between these files?

Thanks!!
Yamil

[2021-04-23 22:05] njbernstein commented on #62
Great question and something I need to clean up in the readme. They are supposed to be different now because we recalibrate the predictions the come directly out of solo to account for the fact that during training the model sees twice as many doublets as singlets. Because this doesn't reflect what a real scRNA-seq experiment will look like the scores get recalibrated and then cells with a softmax

[2021-04-23 22:05] #62 closed

[2021-04-23 22:13] ymahmoud commented on #62
Great, I got it. Thank you for your quick response!

[2021-05-10 21:59] DanSchnell opened #63 "h5ad for HashSolo & solo .pdf plots output"
Hi,

I'd like to run HashSolo on an experiment, but am not sure about the structure/specification of the h5ad input file...

<img width="579" alt="Screen Shot 2021-05-10 at 5 46 40 PM" src="https://user-images.githubusercontent.com/38895089/117729408-c7da3f80-b1b8-11eb-98a8-d2013fa8e3f7.png">

Is there anything beyond reading it into an anndata object & writing out the h5?

Also, ran solo on the (

[2021-05-12 16:33] njbernstein commented on #63
Hi there,

Nope. Nothing else extra. Although make sure your cells are your rows so youll need to transpose your table above.

For more info about anndata see here: http://falexwolf.de/blog/171223_AnnData_indexing_views_HDF5-backing/

I'll investigate the plotting issue

[2021-05-12 16:33] #63 closed

[2021-05-12 16:39] DanSchnell commented on #63
Thanks very much for this guidance & looking into the plotting.

From: njbernstein ***@***.***>
Reply-To: calico/solo ***@***.***>
Date: Wednesday, May 12, 2021 at 12:34 PM
To: calico/solo ***@***.***>
Cc: "Schnell, Daniel (Dan)" ***@***.***>, Author ***@***.***>
Subject: Re: [calico/solo] h5ad for HashSolo & solo .pdf plots output (#63)

***This email originated from an EXTERNAL sender to CCHMC.

[2021-05-26 14:33] njbernstein commented on #48
Do all the genes have counts? If you can send me the h5ad I can help trouble shoot.

[2021-05-27 10:51] mmfalco commented on #48
Ok, I found out that in those samples in which the number of cells is < ~500 after filtering this error pops out. So probably not enough data left to run the models.

[2021-05-27 11:59] mmfalco opened #64 "Running error: "Resource temporarily unavailable""
Hi, I'm having the following error for some of my samples:
[code]
The samples are filtered and with similar number of genes and cells as other samples that did run. Any suggestion?

[2021-05-27 15:36] njbernstein commented on #64
That's an h5ad issue. Usually it means you are already reading that h5ad with a different process at the same time, which isnt allowed with h5ad

[2021-05-28 15:37] mmfalco commented on #64
Thanks or the quick response! indeed seems something like that. I just removed and created again and that seems to have solved the issue. Now I have the mu parameter issue, but as discussed in another [issue]( #48 ) seems to be related to the low number of cells in the sample after filtering. Closing the issue

[2021-05-28 15:37] #64 closed

[2021-06-22 22:40] #60 closed

[2021-06-30 12:01] mmfalco opened #65 "Finding solo installed version"
Is there a way which version of solo we have installed? A `--version` argument would be highly appreciated

[2021-06-30 15:53] njbernstein commented on #65
Yes I will add that

[2021-06-30 18:02] njbernstein commented on #65
@mmfalco in the newest version you can access the version with `--version`. With this change I moved the from positional arguments to required arguments for data and the json file.
cc: @davek44

[2021-06-30 18:02] #65 closed

[2021-06-30 18:02] #27 closed

[2021-08-09 07:23] cnk113 opened #66 "Error on new solo version"
Hello,

I updated to the newest version on github as well as scvi-tools.
However when I start it fails on the first step:
[code]

[2021-08-10 13:51] rpauly opened #67 "Solo on 10x genomics scRNA data"
Hi,
I am trying to run solo on the 10x genomics data. This is the command I used:
`solo -d /projects/lihc_hiseq/active/SingleCell/processedDATA/12_M491_PBMC_CTC_cDNArep/outs/filtered_feature_bc_matrix -j model_json.json -o 12_M491_output`
The model_json.json is the default you have suggested.
This is the error I get:
`Cuda is not available, switching to cpu running!
Min cell depth: 500.0, Max cell

[2021-08-10 14:57] njbernstein commented on #66
Hi there,

Thanks for bringing this to my attention. I will try to track down this issue today.

[2021-08-10 14:58] njbernstein commented on #67
Hi there

Another user just had this error has well.I'll be trying to track it down today.

Best,
Nick

[2021-08-10 21:13] njbernstein commented on #67
Hi there

It seems like the most recent version of scvi-tools broke this. Please rollback to
[code]
I'll be pinning these in the requirements.txt shortly

[2021-08-10 21:13] #67 closed

[2021-08-10 21:14] njbernstein commented on #66
Hi there

It seems like the most recent version of scvi-tools broke this. Please rollback to
[code]
I'll be pinning these in the requirements.txt shortly

[2021-08-10 23:29] cnk113 commented on #66
So I changed the versions as above but now I get this:
[code]

[2021-08-11 16:58] njbernstein commented on #66
Very weird. okay lemme try track this down

[2021-08-12 17:03] rpauly commented on #67
Thanks! I tried to roll back, but I do get an error:

`pip install pytorch-lightning==1.2.3`
[code]

[2021-08-12 20:50] njbernstein commented on #66
Okay try now. After you install the latest version from github in a clean environment could you post the `pip freeze` if you still have issues.

[2021-08-13 01:03] cnk113 commented on #66
Different error now
[code]
pip freeze output
[code]

[2021-08-17 17:10] njbernstein commented on #66
@cnk113  do a pip install pytorch-lightning=1.3.1 please

[2021-08-18 09:13] cnk113 commented on #66
It works! Thanks for the fast turnaround.

[2021-08-18 09:13] #66 closed

[2022-02-11 13:30] flde commented on #41
Hi, any thanks for your tool! I hope it is okay to add the information that scvi-toools implemented Solo as a external tool with a short help page. Maybe that helps users which want to try it and come across this post.

[2022-02-17 02:53] symbiologist opened #71 "Solo encountering Nan values with 10x data"
I'm getting this error while running solo on one (but not all) of my samples:

`ValueError: Expected parameter loc (Tensor of shape (128, 64)) of distribution Normal(loc: torch.Size([128, 64]), scale: torch.Size([128, 64])) to satisfy the constraint Real(), but found invalid values:
tensor([[nan, nan, nan,  ..., nan, nan, nan],
        [nan, nan, nan,  ..., nan, nan, nan],
        [nan, nan, nan,

[2022-02-22 14:53] Elhl93 commented on #71
Hi, I also encounter the same error. To me, the UMI filter also did not resolve for all samples this issue. I work on a HPC - depending on the GPU node, this error shows up and sometimes not. Thanks for further support on this.

[2022-02-22 17:39] njbernstein commented on #71
Hi all,

@symbiologist @Elhl93 I was on leave for a couple weeks so sorry about the slow response.

Removing high and low count cells and genes is sometimes necessary to have the model converge.

I will often use the following filters to prevent this issue:

[code]

I will add this suggestion to the README.

[2022-02-22 17:53] symbiologist commented on #71
Thanks for the tip, and appreciate the response!

I'll echo @Elhl93 's sentiments - I did some more testing and found that filtering on UMI and genes didn't always determine whether solo would throw this error.

I found that changing the n_hidden (changed to 320 instead of 384) or dropout_rate (to to 0.1 from 0.2) in the model parameters would resolve the issue (on the same unfiltered dataset). So

[2022-02-22 18:06] njbernstein commented on #71
Interesting. I'm always hesitant to increase `n_hidden` as I don't won't to over-parameterize the model. Upping the dropout rate should be fine. Adjusting the `learning_rate` parameter up or down can sometimes be helpful as well.

Deep learning models are tricky to have converge for all datasets and I've found the defaults to work in majority of cases when I remove observations (cells) or features

[2022-02-23 12:56] Elhl93 commented on #71
Hi, when changing the learning rate it runs stable. I have 15 samples, previously I had 6 errors, now none. However, it takes more time. Just for you information, I also tested an older version of solo (0.3), but it runs stable with the default settings. However, as the learning rate should be flexible, I would suggest to make them parameters in the function. If I see it correctly you can't change

[2022-02-23 17:05] njbernstein commented on #71
Always happy to take a pull request!

Its a good idea.

[2022-02-25 14:48] Elhl93 commented on #71
I made a pull request. I tested the branch on my machine, it worked fine.

[2022-03-07 22:19] lauren-fish opened #73 "Newbie questions: warning message, model parameters, and outputs"
Hi, I've used solo a few times now and am really appreciating how user-friendly it is. It seems to work really well on my dataset.

1. Every time I run solo, I get the following warning:
"UserWarning: Make sure the registered X field in anndata contains unnormalized count data."
I want to confirm that this is a normal error that shows with scvi-tools and I'm not screwing something up- before runni

[2022-03-28 21:35] njbernstein commented on #73
Hi there sorry for the very late response.
1.  You should be fine. I'd double check that they are counts but I get that warning when I run it on counts
2. Either one of those will work. I will update them to be the same, but default to the one in the model.json file.
3. Yes use the `is_doublet.csv` output.

[2022-03-29 15:41] lauren-fish commented on #73
No worries! Thanks for your answers.

[2022-04-04 22:10] #71 closed

[2022-04-17 22:14] lauren-fish commented on #73
Actually, I have another question- what kind of subsetting do you suggest before using solo?
I think I'm ok with removing the bottom 1% of cells by nFeature or setting a threshold of >150 features, but is it ok/recommended to remove the top 1% of cells (by nFeature)?

The clustering-aware tools seem to work best when low UMI cells are removed, but all of the upper outliers are left in place- and t

[2022-04-24 22:46] davek44 commented on #73
If there is a threshold above which you are certain that a cell is a doublet, you should go ahead and pre-remove those before running Solo. Otherwise, the training phase will incorrectly treat those as singlets.

[2022-04-24 22:52] lauren-fish commented on #73
Thanks Dave, that makes a lot of sense, given how Solo works compared to other methods.

[2022-04-24 23:08] #73 closed

[2022-07-19 14:17] Kani0n opened #74 "Problem with hashsolo"
Hi,
I just ran my solo analysis and now i need the information a bout which of my cells was predicted to be a doublet and so forth.
If i understood correctly i have to use hashsolo for this, but that just runs with no logger or information about progress and i dont seem to get anything...
I only have an h5ad file with ~800 cells does this just take over a day or am i getting something wrong?
Thank

[2022-07-20 01:15] davek44 commented on #74
HashSolo is meant for working with hashing data. Are you simply attempting to call doublets? We haven’t worked with a data set with only 800 cells before. Solo benefits from larger data sets, so you might do fine with some of the linear methods like scrublet or doublet finder.

[2022-07-20 06:26] Kani0n commented on #74
Yes, I just want to know which on my cells are predicted to be what (doublet, singlet).

Where in the output do I see this information?

From: David Kelley ***@***.***>
Sent: Wednesday, 20 July 2022 03:16
To: calico/solo ***@***.***>
Cc: Korbinian Pürckhauer ***@***.***>; Author ***@***.***>
Subject: Re: [calico/solo] Problem with hashsolo (Issue #74)

HashSolo is meant for working with hashing da

[2022-07-22 09:42] Kani0n commented on #74
is_doublets.npy contains over 10k values, how do i know which of these are the predictions for my cells?

[2022-07-22 18:41] davek44 commented on #74
If you think your data has 800 cells, but is_doublets.npy has 10k values, then it's likely the input data isn't formatted according to Solo's assumptions. Could you send me more information about how you're running Solo and the format of your input data? Is it possible the gene expression matrix is transposed relative to the typical Cell x Gene format?

[2022-07-26 16:05] Kani0n commented on #74
I actually misspoke earlier,
I have an h5ad file of 12013 cells 816 of them predicted to be doublets by AMULET. In my output folder there is for example the is_doublets.npy vector, but tthis one as well as all the other outputs are 10992 long. What i now want to know is which of my cells Solo predicted to be a doublet (True inside the vector).

[2022-07-27 03:22] davek44 commented on #74
Are you saying that you don’t understand how to read the vector stored in is_doublets.npy? Or are you saying that you don’t understand how your 12,013 cells was filtered down to 10,992?

[2022-07-29 05:00] Kani0n commented on #74
I am interested in what cells are labelled "True" and what cells are "False".
e.g:
cell1: False
cell2: True
...

[2022-07-29 18:50] davek44 commented on #74
OK, you'll want to read the is_doublets.npy file using a command like the following in a python terminal, notebook, script.

cell_doublets = np.load('is_doublets.npy')

cell_doublets will contain a numpy array with type boolean. To determine whether Solo predicts cell 1 to be a doublet, check cell_doublets[0] in the array. To determine whether Solo predicts cell 2 to be a doublet, check cell_doubl

[2022-08-30 03:06] mari-ga opened #75 "Problem with solo - PyTorch Lightning"
Hi everyone!

I've been facing an error for some time. When I first installed solo 1.3, PyTorch 1.3.1 was installed by default. With this configuration, it was impossible to even call solo on terminal (I'm working on Mac OS Monterey 12.4).
The error was the following one:
[code]
This error is linked to the version of PyTorch, so updating the library to 1.3.8 or higher was a solution.
Anyways, afte

[2022-09-01 01:50] cherriyoush commented on #75
hi，I have meet the same problem too，I try downgrade torchmetrics version pip uninstall torchmetrics==0.9.3 & pip install torchmetrics==0.6.0， then it works

[2022-09-05 21:07] mari-ga commented on #75
Sadly, it didn't work, I'm getting a different error related to other libraries:

`Traceback (most recent call last):
  File "/opt/anaconda3/envs/demul/bin/solo", line 5, in <module>
    from solo.solo import main
  File "/opt/anaconda3/envs/demul/lib/python3.9/site-packages/solo/solo.py", line 15, in <module>
    from pytorch_lightning.callbacks.early_stopping import EarlyStopping
  File "/opt/an

[2022-09-20 17:58] davek44 commented on #75
Hi all, I'm not familiar with pytorch lightning. We developed Solo for vanilla pytorch. I'll put this on my queue to look into, but I can't promise a quick fix. You might look into whether the scVI developers have their codebase working for pytorch lightning. Otherwise, I'd recommend a clean anaconda install without pytorch lightning.

[2022-09-21 23:56] apredeus commented on #33
Same error still appears to happen in the newest version. Saving the .h5ad file using `as_dense='X'` option, followed by reading it back in again seems to solve the issue, while

`adata.X = adata.X.todense()`

does not work.

[2022-09-24 16:53] mari-ga commented on #75
Thank you very much, the version from scVI is working in line.

[2022-09-24 16:53] #75 closed

[2022-10-25 22:13] apredeus opened #77 "Hashsolo failing when only two HTOs are present?"
Hi,

Thank you for the tool - it's very useful for reprocessing cell hashing experiments! However, I've come across a strange issue which I think comes down to how hashsolo estimates noise. When the multiplexed sample has only 2 HTOs, the `hashsolo` invariably fails - generating lots of NaNs, and assigning all cells to either "negative" or a "doublet", while the HTO distribution clearly suggests o

[2022-10-25 23:01] njbernstein commented on #77
Hi there,

The documentation should be more clear about this but its not. Very sorry about that.

 Set the number of noise barcodes = 1 either via the command line argument `-n 1` or when using the python function `hasholo(..., number_of_noise_barcodes=1)`

Let me know if that doesnt fix the issue.

Best,
Nick

[2022-10-26 11:22] apredeus commented on #77
Hi Nick,
thank you for the quick reply! Yes the default of "null" for this variable has tripped me up - perhaps it would be good to update the README. I've used the latter option for "inline" hashsolo and it didn't fix the issues.

Could you comment if the data is expected to be normalized/log-transformed/cleaned from low count droplets for hashsolo?

Thank you

[2022-11-24 15:55] jddavies95 opened #78 "Error using h5ad file"
Hey, I keep getting this error about the object not having the attribute 'loc'. I am using a h5ad file of unnormalized, filtered data exported from scanpy. Do you know what may be causing this? Thanks!

2022-11-23T16:57:41.248186372Z Traceback (most recent call last):
2022-11-23T16:57:41.248381225Z   File "/opt/conda/bin/solo", line 33, in <module>
2022-11-23T16:57:41.249388349Z     sys.exit(load_